body {
    margin: 0;
    padding: 0;
    font-family: Fira Code, sans-serif;
    background-color: #070b14;
    color: #ffffff;
}


.hero {
    text-align: center;
    padding: 5px 50px 5px 50px;
    border-bottom: 1px solid white;
}

.hero-title {
    font-size: 2em;
}

.hero-paragraph {
    font-size: 1.2em;
}

.main-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 3px;
}

.box {
    width: 300px;
    background-color: #070b14;
    border: 0.5px solid white;
    border-radius: 10px;
    margin: 3px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover {
    transform: scale(1.05);
}

.box h3 {
    font-size: 1.5em;
}

.box p {
    font-size: 1em;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #0284c7;
    background-color: #0b1120;
    border: 1px solid #0284c7;
    border-radius: 25px;
    transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    color: #0284c7;
    background-color: #0c1b2b;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid white;
}

.white-link {
    color: #0284c7;
    text-decoration: none;
}

.white-link:hover {
    color: white;
}

summary {
            display: flex; /* Flexbox layout */
            justify-content: space-between; /* Space between Neo and Windows */
            font-weight: bold;
            cursor: pointer;
            padding: 0;
            margin: 0;
        }

/* Accordion */ .showH{margin:1.7em 0;font-size:.93rem;font-family:var(--fontB);line-height:1.7em} details.ac{padding:18px 15px;background:var(--contentB);box-shadow:0 5px 35px rgba(0,0,0,.2);margin:20px 0;border-radius:10px} details.ac summary{font-weight:700;cursor:default; display:flex;align-items:baseline; transition:var(--trans-1);cursor:pointer} details.ac summary::before{content:'\203A'; flex:0 0 25px;display:flex;align-items:center;justify-content:flex-start;padding:0 5px; font-weight:400;font-size:1.33rem;color:inherit} details.ac[open] summary{color:var(--linkC)} details.ac:not(.alt)[open] summary::before{transform:rotate(90deg);padding:0 0 0 5px;justify-content:center} details.ac.alt summary::before{content:'\002B'; padding:0 2px} details.ac.alt[open] summary::before{content:'\2212'} details.ac .aC{padding:0 15px;opacity:.9} .drK details.sp, .drK details.ac{background:var(--darkBs)} .drK details.sp summary::after{background:var(--darkU)}
